@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu, output,ruby,section,summary,time,mark,audio,video {
	font-size:100%;
	font:inherit;
	padding:0;
	margin:0;
	border:0;
	vertical-align:baseline;
	line-height:1.4; }
html {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body { background:url(images/background.jpg) repeat-y center center fixed #282c63; 
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  	color:#FFF; font-size:100%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height:1.4; }

h1, h2, h3, h4, h5 { line-height:1; text-transform: uppercase; }
h1 { font-size:360%; color:#fef11e; margin-bottom:20px; }
h2 { font-size:300%; color:#96ff00; margin-bottom:10px; } 
h3 { font-size:260%; color:#00ddfe; padding-bottom: 20px; }
h4 { font-size:240%; color:#fef11e; }
h5 { font-size:220%; color:#96ff00; }
h1 a, h2 a, h3 a, h4 a, h5 a { text-decoration:none; color:#1d518a; }
	.page-side h1 { font-size:280%; color:#20256b; padding:10px 0;  }
	.page-side h2 { font-size:240%; color:#20256b; padding:10px 0;  }
	.page-side h3 { font-size: 200%; color:#20256b; padding:10px 0; }
.aligncenter { text-align:center; }
.alignleft { float:left; margin:0 20px 10px 0; }
.alignright { float:right; margin:0 0 10px 20px; }
.aligncen { margin:10px auto; display:block; }

p { margin-bottom:30px; }
	
a { color:#fef11e; }
a:hover { /* text-decoration: underline; */ }
a[href^=tel]{ color:inherit; text-decoration:inherit; font-size:inherit; font-style:inherit; font-weight:inherit; }

ol, ul { margin:15px 0 30px 20px; }
ol { list-style-type: decimal }
ol ul, ul ol { margin-top: 10px; }
ol li, ul li { margin-bottom:8px; }
	.page-side ol, .page-side ul { margin:15px 0 20px 20px; }
	
b, strong { font-weight:bold;  }
i, em { font-style:italic; }

select::-ms-expand { display: none; }

.clear, .clear:after {  content: ""; display: table; clear: both; }
.listbreak { clear:both; }
.hide { display:none; }

.space20 { width:100%; display:block; height:20px; clear:both; }
.space40 { width:100%; display:block; height:40px; clear:both; }
.space60 { width:100%; display:block; height:60px; clear:both; }
.space80 { width:100%; display:block; height:80px; clear:both; }

.sharethumb { position: absolute; left: -9999px; top: 0; }
 
.flash-wrap { height:100%; max-width: 600px; margin: 0 auto; max-height:700px;  }
.flash-wrap object { display:block; width:100%; height:100%; min-height:700px; } 

/* Fonts */
#menu ul li, .menu-lbl, .button, .button-sm { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;} 
h1, h2, h3, h4, h5, #menu li, #menu-mobile a, .topplay, .rowhead{ font-family:"ArialRounded", Garamond, Adobe Garamond, Times, Times New Roman; } 

.adspace { margin:20px auto; padding:5px 0;  background-color:#fefdce; clear:both; text-align: center; max-width:760px; }
	.adtxt { color:#646464; font-size:14px; font-style:italic; }
	.adban { width:100%; max-width:760px; /* max-height:250px; */ display: inline-block;}
	.adbansizes { width: 728px; height: 90px; }

.image-wrap, .image-wrap-icon, .image-wrap-flyer { text-align:center; color:#CCC;  }
.image-wrap-icon { width:128px; /* icon image page */ }
.image-wrap-flyer { width:100%; /* flyer image page */ display: inline-block; }

/* header */
header { position:relative; }
	#top-left, #top-right, #top-logo { height:335px; }
	#top-left { background:url(images/top-log.png) repeat-x top 0 right -85px; width:50%; float: left; }
	#top-logo { max-width:1200px; width:100%; position: absolute; left: 0; right: 0; z-index: 100; margin:0 auto; }
		#top-logo img { width:100%; height:auto; }
		.mobilelogo { position:absolute; top:-10000px; left:-10000px; }
	#top-right { background:url(images/top-log.png) repeat-x top 0 left -85px; width:50%; float: right; }
	
	#menu-mobile { display: none; }
	#menu { width: 100%; text-align:center; margin: 0; padding:0; list-style: none; position:relative; background-color:rgb(0, 0, 0); background-color:rgba(0, 0, 0, 0.5); }
	  #menu li { position: relative; font-size:100%; display:inline-block; margin:0; padding:0; line-height:1px; vertical-align:top; text-shadow: 1px 1px 2px #000; }
	  #menu li a { display:block; padding: 12px 15px 12px 50px; margin:0; color:#fef11e; text-decoration:none; text-transform:uppercase; background:url(images/menu-icon.png) no-repeat; }
		#menu li a.menu-about 	{ background:url(images/menu-icon-lily.png) no-repeat; }
		#menu li a.menu-wallpaper { background:url(images/menu-icon-wallpaper.png) no-repeat; }
		#menu li a.menu-icons 	{ background:url(images/menu-icon-truck.png) no-repeat; }
		#menu li a.menu-sounds 	{ background:url(images/menu-icon-sounds.png) no-repeat; }
		#menu li a.menu-graphics 	{ background:url(images/menu-icon-snake.png) no-repeat; }
		#menu li a.menu-flyers 	{ background:url(images/menu-icon-fly.png) no-repeat; }
		#menu li a.menu-tech 	{ background:url(images/menu-icon-tech.png) no-repeat; }
		#menu li a.menu-play 	{ background:url(images/menu-icon-frog.png) no-repeat; }
	  #menu li:hover > a { color: #FFF; }
	  /* Sub-menu */
	  #menu ul { display:none; opacity: 0; visibility: hidden; }
		  
	.showmob { display:none !important; }	  

	#top-logo .share { display:inline-block; vertical-align: top; }
	#top-logo .share img { width:30px !important; height:30px !important; margin: 0 2px; display:inline-block; padding:0; }
	#site-share { position: absolute; bottom: 30px; right: 50px; z-index: 100; }
	.topplay { display:inline-block; background:url(images/icon-gamet.png) no-repeat; background-size:30px 30px; padding:4px 0 4px 35px; margin:0 30px 0 0; color:#fef11e; text-decoration:none; text-transform:uppercase; }
	.topplay:hover { color:#FFF; } 
	
#page { width:100%; height:auto; display:block; clear: left; }
	#page-wrap { position:relative; width:1200px; margin:0 auto; }
    	.page-full { padding:40px; }
		.page-left { padding:40px; margin-right:380px; min-height:600px;  }
			.page-left p, .page-full p { line-height: 2; }
    	.page-side { position:absolute; width:330px; top:0; right:0; margin:0px 25px 40px 25px; }
			.page-side p.sideplay { text-align:center; }	
			.page-side img.playimg { margin:0 auto; display:block; }		
		/* Side Box */
		.side-box:before, .side-box:after { position:absolute; width:330px; height:36px; display:block; content:""; }
		  .side-box:before { top:-18px; left:-5px; background:url(images/side-log.png) no-repeat; }
		  .side-box:after  { bottom:-18px; left:-5px; background:url(images/side-log-smooth.png) no-repeat; }
		.side-box { width:100%; max-width:320px; background-color:#FFF ; position:relative; text-align: center; padding:20px 10px; margin:36px auto 70px auto; color:#000; }
		.side-box ol, .side-box ul { text-align:left; }
		
		  .side-box img { max-width:300px; width:100%; height:auto; margin:0 auto; }
			.side-content { padding:0 20px; text-align:left; }
			.side-content p { font-size:95%; }
			.side-box .share img { width:50px !important; height:50px !important; }
		
		.side-box p { padding: 0 10px; text-align:left; }

		.side-box img.playimg { max-width:270px; margin:0 auto;}

.page-cen { text-align:center; }
	.page-cen h1, .page-cen p { text-align:left; }

.cont-split { width:100%; text-align:center; position:relative; margin-bottom:30px; }
	.cont-left, .cont-right { vertical-align:top; }
	.cont-left { width:330px; position:absolute; top:0; left:0;  }
	.cont-right { min-height:250px; margin-left:340px; text-align: left; }
	
/* Sounds */
#table-sounds .col1 { width:10%; min-width:80px; }
#table-sounds .col2 { width:30%; }
#table-sounds .col3 { width:30%; }
.soundsize { color:#72b54d; font-size:80%; }

/* Icons */
#icons .cont-split { display: inline-block; width: 230px;vertical-align: top; margin:0 20px 70px 20px; }
#icons .cont-left { position:relative; top:auto; left:auto; display:block; width:100%; text-align:center; }
  #icons .cont-left img { display:inline-block; }
  	#icons .cont-left .image-wrap-icon { display:inline-block; }
#icons .cont-right { display:block; width:100%; margin:0; min-height:50px; text-align:center; }
	#icons .cont-right h3, #icons .cont-right p { margin-bottom:5px; padding:0; text-align:center; }
.alticondl { display:block; margin:0 0 10px 0; }
.alticon { display:inline-block; vertical-align:bottom; text-align:left; margin:5px; }
	.alticonimg { display:block; }
	.alticontxt { display:block; }
		.alticontxt a { text-decoration:none; }
		
.icon-list { display:none; text-align: center; margin:0; }
[id^="othericons"].showing { display:block; }
#icons .fancybox-inner { width:inherit !important; height:inherit !important; text-align:center; }
#icons .fancybox-image { width:inherit; height:inherit; display:inline-block; vertical-align:middle; }		

.arrowdown { position: relative; padding: 0px 0 0 12px; height: 21px; font-size: 90%; text-transform: uppercase; color: #528268; }
.arrowdown::before { position: absolute; top: 3px; left: 0; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 9px; border-color: transparent transparent transparent #528268; display: block; content: ""; }
a.arrowdown:active::before { border-width: 9px 5px 0 5px; border-color: #528268 transparent transparent transparent;  }

/* Wallpaper */
.imgbox { display:inline-block; vertical-align:top; }
  #wallpaper .imgbox, #graphics .imgbox  { width:100%; max-width:330px; margin: 30px 10px 30px 10px; }
  	#wallpaper h2, #graphics h2, #icons h2 { margin:10px 0 5px 0; font-size:160%; }
  #flyers .imgbox { width:100%; max-width:230px; margin:30px 10px; text-align:center; }
  #flyers .imgboxtxt img { margin:15px 0 0 0; }	
	.imgboximg { text-align:center; }
		.imgboximg img { display:inline-block; }
	.imgboxtxt { font-size:100%; text-align:center; }
	h2.imghead { font-size:240%; color:#3ba5d7; }
option.formhead { font-weight:bold; }
	
    .graphicsize { display: block; font-size: 80%; color:#72b54d; line-height: 0; margin: 0; }

a.toTop { color:#ffbbe1; text-align:right; float:right; font-size:80%; }
a.ziplink { background:url(images/zip-icon-sm.png) no-repeat; padding:2px 0 0 24px; }
a.zipico, a.winico, a.iosico, a.imgico  { display: inline-block; padding:5px 0 0 44px; height:40px; font-size:110%; text-transform:uppercase; }
	a.zipico { background:url(images/zip-icon.png) no-repeat; margin-bottom: 10px;}
	a.winico { background:url(images/win-icon.png) no-repeat; }
	a.iosico { background:url(images/apple-icon.png) no-repeat; }
	a.imgico { background:url(images/img-icon.png) no-repeat; }
.zipicon { vertical-align:middle; }

/* Table */
.table { margin:30px 0; }
.row { width:90%; margin:0 auto; }
	.row:nth-of-type(odd) { background-color:#2c3066; }
	.row:nth-of-type(even)  { background-color:#303469; }
	.rowhead { background-color:#1c1f45 !important; color:#FFF; font-size:100%; text-transform:uppercase; line-height:1;}
	  .rowhead img { display:inline-block; vertical-align:middle; }
	.col1, .col2, .col3, .col4 { padding:8px; display:inline-block; vertical-align:middle; }
	/* columns */
	.cols2 .col1, .cols2 .col2 { width:48%; } 
	.cols3 .col1, .cols3 .col2, .cols3 .col3 { width:32%; }
	.cols4 .col1, .cols4 .col2, .cols4 .col3, .cols4 .col4 { width:24%; }

.side-box .cols2 .col1, .side-box .cols2 .col2 { text-align:left; color:#000; vertical-align:top; }
	.side-box .row:nth-of-type(odd) { background-color:#fafafa; }
	.side-box .row:nth-of-type(even)  { background-color:#f2f2f2; }
	.side-box .rowhead { background-color:#d9d9d9 !important; color:#000; }
	#game-details .rowhead .col1 { width:100%; }

.chip { width:100%; max-width:227px;  height:auto; }

/* Footer */
#footer { width:100%; height:auto; display:block; background:#9cd139; padding:0 20px 20px 20px; position:relative; margin: 75px 0 0 0; }
	#footer:before { position:absolute; left:0; top:-75px; width:100%; height:75px; background:url(images/grass-bottom.png) repeat-x; display:block; content:""; }
	.foot-bot { width:100%; max-width:1200px; margin:0 auto; padding:0px 20px 40px 20px; display:block; }
		.footer-menu, .footer-site-links { width:100%; display:inline-block; text-align:center; }
		.footer-menu a { display:inline-block;}
		.footer-site-links { font-size:80%; margin:20px 0 0 0; }
.footer-menu, .footer-site-links, .footer-copy { color:#6f932c; }
.footer-menu a, .footer-site-links a, .footer-copy a { color:#408c4c; display:inline-block; }

@media (max-width: 1800px) { /* Background Fix */
	body { -webkit-background-size: auto; -moz-background-size: auto; -o-background-size: auto; background-size: auto; }
}
@media (max-width: 1200px) {
	#top-left, #top-right  { display:none; }
	#top-logo { width:100%; height:auto; position:relative; } 
	#top-logo img { width:96%; height:auto; padding: 0 2% 0 2%; margin: 0 auto; display: block; } 
	#site-share { bottom: 20px; right: 90px; }
	#page-wrap { width:100%; }
}
@media (max-width: 1000px) {
	#site-share { bottom: 10px; }
	.page-left { margin-right:0; width:100%; display: inline-block; }
    .page-side { position:relative; width:100%; padding:20px; margin:0; }
}
@media (max-width: 950px) {
/* Menu Width Fix */
	#menu li { font-size:90%; }
	#menu li a { padding: 12px 10px 12px 49px; }
}
@media (max-width: 850px) {
	#top-logo { text-align:center; }
	.mobilelogo { position:relative; top:auto; left:auto; max-width:650px; margin:0 auto; display:block; }
	.desklogo { position:absolute; top:-10000px; left:-10000px; }
	#site-share { position:relative; bottom:auto; right:auto; display:inline-block; }
	/* Mobile Menu */
	#menu.showing { display:inline-block; }
	  #menu-mobile { display:inline-block; color:#fef11e; padding:0 10px; width:100%; text-align:left;background-color:rgb(0, 0, 0); background-color:rgba(0, 0, 0, 0.5);  }
	  	  #menu-mobile a { font-size:160%; color:#fef11e; text-shadow: 1px 1px 2px #000; text-decoration:none; padding:17px 0 17px 72px; background:url(images/menu-icon-mobile.png) no-repeat top 5px left 0; text-transform: uppercase; display: block; }
		  #menu-mobile a:hover { color:#de4b55; }
	  #menu { display:none; width:100%; border-bottom:none; position:relative; background:url(images/splotch-pattern.jpg) repeat; }
		#menu li { font-size:120%; display:inline-block; width:100%; padding:0; }
			/* #menu li:first-child { margin:40px 0 0 0; }
			#menu li:first-child:before { display:block; content:""; position:absolute; top:-40px; background:url(images/glass-bar-two.jpg) top center; height:40px; width:100%; } */
		#menu li a { padding:15px 20px; color:#FFF; text-decoration:none; text-transform:uppercase; border-top:1px solid #789b24; border-bottom:1px solid #b6d46c; background-image:none !important; }
		#menu li a:hover { background-color:#de4b55; background-image:none !important; color:#fef11e; }
  		#menu li a:hover > a { color:#fef11e; }  			
  .showmob { display:inline-block !important; }
  	
		.adspace { min-width:468px; width:auto; }
		.adbansizes { width: 468px; height: 60px; }
		
		.flash-wrap { max-width: 538px; }
		.flash-wrap object { min-height:600px; }
}
@media (max-width: 750px) {
	h1, h2, h3 { text-align:center !important; }
		.page-cen h1, .page-cen p { text-align:center; }
		
	.cols4 .col1, .cols4 .col2, .cols4 .col3, .cols4 .col4,
	.cols3 .col1, .cols3 .col2, .cols3 .col3, 
	.cols2 .col1, .cols2 .col2,
	#table-sounds .col1, #table-sounds .col2, #table-sounds .col3 { width:100%; display:inline-block; }
	.col1, .col2, .col3 { padding:3px 20px; } 
	#table-sounds .col1 { padding:20px 20px 3px 20px; }
	#table-sounds .col2 { padding:3px 20px; } 
	#table-sounds .col3 { padding:3px 20px 10px 20px; }  
	.rowhead .col1 { font-weight:normal; width:100%; } .rowhead .col2, .rowhead .col3 { display:none; }
		
	#game-details .col1 { font-weight:bold; }
	
	.cont-left { position:relative; margin:10px auto; width:100%; }
	.cont-right { width:100%; text-align:center; min-height: 10px; margin-left:0px;}	
	
	.content-img, .content-img-sm { display:block; float:none; padding:0; width:100%; height:auto; margin:0px auto; }
	  .content-img { max-width:300px; }
	  .content-img-sm { max-width:200px; }
	.image-wrap, .image-wrap-icon, .image-wrap-flyer { width:100%; margin: 15px auto 40px auto; }
	
	.flash-wrap { max-width: 450px; }
	.flash-wrap object { min-height:500px; }
}

@media (max-width: 500px) {
	#top-logo .share { width:100%; margin:15px 0; }
		#top-logo .share img { width:50px !important; height:50px !important; }
	.topplay { margin:5px 0; }
	
	.flash-wrap { max-width: 355px; }
	.flash-wrap object { min-height:400px; }
	.adspace { min-width:320px; padding:5px 3px; }
	.adbansizes { width: 320px; height: 100px; }
}

@media (max-width: 380px) {
	.page-full { padding:10px; }
	.page-left { padding:10px; }

	#wallpaper .imgbox, #graphics .imgbox { margin: 30px auto; }
  	#desktop .imgbox  { width:100%; min-width:0px; margin:30px auto; max-width:300px; }
		
	a.toTop { text-align:left; float:none; width:100%; }
	
	h1 { font-size:260%; }
	h2 { font-size:240%; } 
	h3 { font-size:220%; }
	h4 { font-size:200%; }
	h5 { font-size:180%; }
	body, p, .page-left p, .page-full p { line-height:1.5; }
	

	.image-wrap img, .image-wrap-icon img, .image-wrap-flyer img { width:100%; height:auto; }
	.image-wrap-icon img { max-width:128px; }
	.image-wrap-flyer img  { max-width:150px; }
	#flyers .imgboxtxt img { width:auto; height:auto; }
	
	.page-side p.sideplay { padding:0 20px; }	
	
	.flash-wrap { max-width: 270px; }
	.flash-wrap object { min-height:300px; }

} 	
@media (max-width: 380px) {
	.page-side img.playimg { max-width:320px; width:100%; height:auto; }
	.side-box:before, .side-box:after { width:104%; background-size: contain; }
}